@font-face {
  font-family: Inter;
  src: url('../../vendor/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

:root {
  --color-white: white;
  --color-dark-gray: #2A2C2F;
  --color-light-gray: #AAAAAA;

  --background-color: var(--color-dark-gray);
  --text-color: var(--color-white);
  --secondary-text-color: var(--color-light-gray);

  --img-hover-color: var(--color-dark-gray);
  --default-hover-opaque: 80%;
  --img-hover-opaque: var(--default-hover-opaque);
  --link-hover-opaque: var(--default-hover-opaque);
}

.page {
  margin: 0 auto;
  font-family: Inter;
  background-color: var(--background-color);
  color: var(--text-color);
  min-width: 320px;
  max-width: 1600px;

  display: grid;
  justify-items: center;
  grid: ". . . . ." 28px
        ". header header header ."
        ". . . . ." 56px
        ". . lead . ."
        ". . . . ." 92px
        ". . intro . ."
        ". . . . ." 92px
        ". photo-grid photo-grid photo-grid ."
        ". . . . ." 92px
        ". . places . ."
        ". . . . ." 92px
        ". cover cover cover ."
        ". . . . ." 92px
        ". footer footer footer."
        ". . . . ." 24px
        / 48px 100px auto 100px 48px;
}

@media screen and (max-width: 1100px) {
  .page {
    /* could make 3 columns but rather keep it the same 5 */
    grid: ". . . . ." 28px
    ". header header header ."
    ". . . . ." 56px
    ". . lead . ."
    ". . . . ." 92px
    ". . intro . ."
    ". . . . ." 92px
    ". photo-grid photo-grid photo-grid ."
    ". . . . ." 92px
    ". . places . ."
    ". . . . ." 92px
    "cover cover cover cover cover" /* <- changes */
    ". . . . ." 92px
    ". footer footer footer."
    ". . . . ." 24px
    / 48px 0 auto 0 48px;  /* <- changes */
  }
}

@media screen and (max-width: 800px) {
  .page {
    grid: ". . . . ." 28px
    ". header header header ."
    ". . . . ." 48px
    "lead lead lead lead lead" /* <- changes */
    ". . . . ." 88px /* <- changes */
    ". . intro . ."
    ". . . . ." 88px
    ". photo-grid photo-grid photo-grid ."
    ". . . . ." 88px
    ". . places . ."
    ". . . . ." 88px
    "cover cover cover cover cover"
    ". . . . ." 88px
    ". footer footer footer."
    ". . . . ." 24px
    / 24px 0 auto 0 24px;  /* <- changes */
  }
}

@media screen and (max-width: 470px) {
  .page {
    grid: ". . . . ." 28px
    ". header header header ."
    ". . . . ." 48px
    "lead lead lead lead lead"
    ". . . . ." 64px
    ". . intro . ."
    ". . . . ." 64px
    ". photo-grid photo-grid photo-grid ."
    ". . . . ." 64px
    "places places places places places" /* <- changes */
    ". . . . ." 64px
    "cover cover cover cover cover"
    ". . . . ." 64px
    ". footer footer footer."
    ". . . . ." 24px
    / 16px 0 auto 0 16px;  /* <- changes */
  }
}

.header {
  grid-area: header;
  justify-self: stretch;
}

.lead {
  grid-area: lead;
}

.intro {
  grid-area: intro;
  justify-self: left;
}

.photo-grid {
  grid-area: photo-grid;
}

.places {
  grid-area: places;
}

.cover {
  grid-area: cover;
  justify-self: stretch;
}

.footer {
  grid-area: footer;
  justify-self: stretch;
}
