@font-face {
  font-family: Inter;
  src: url('../../vendor/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

:root {
  --color-white: white;
  --color-dark-gray: #2A2C2F;
  --color-light-gray: #AAAAAA;

  --background-color: var(--color-dark-gray);
  --text-color: var(--color-white);
  --secondary-text-color: var(--color-light-gray);

  --img-hover-color: var(--color-dark-gray);
  --default-hover-opaque: 80%;
  --img-hover-opaque: var(--default-hover-opaque);
  --link-hover-opaque: var(--default-hover-opaque);
}

.page {
  /* margin: 0 auto; */
  font-family: Inter;
  background-color: var(--background-color);
  color: var(--text-color);
  min-width: 320px;
  /* display: flex;
  flex-direction: column; */

  /*display: grid;
  justify-items: center;
  grid-template-columns: minmax(16px,24px) minmax(0,24px) auto minmax(0,24px) minmax(16px,24px);
  grid-template-rows: auto;
  grid-template-areas:
    ". . header . ."
    ". . lead . .";
  grid-gap: 92px 0; */
}

/*.header {
  grid-area: header;
  justify-self: stretch;
  margin-bottom: -44px;
}

.lead {
  grid-area: lead;
}*/
