.cover__overlay {
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 740px;
  max-width: 1600px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 470px) {
  .cover__overlay {
    min-height: 200px;
  }
}


.cover__overlay::before {
  position: absolute;
  width: 100%;
  min-height: 740px;
  content: "";
  background-color: var(--img-hover-color);
  opacity: 0.3;
  min-height: 740px;
}

.cover__overlay:hover::before {
  opacity: var(--img-hover-opaque);;
}

@media screen and (max-width: 1100px) {
  .cover__overlay::before {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay::before {
    min-height: 480px;
  }
}

@media screen and (max-width: 470px) {
  .cover__overlay::before {
    min-height: 200px;
  }
}
