@import url(./__image/place__image.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__paragraphs/place__paragraphs.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);


.place {
  display: grid;
  grid: "title website"
        "image paragraphs"
        / 51fr 49fr;
  gap: 48px 40px;
}

@media screen and (max-width: 1100px) {
  .place {
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    gap: 48px 28px;
  }
}

@media screen and (max-width: 470px) {
  .place {
    grid: "title"
          "image"
          "paragraphs"
          / 1fr;
    gap: 32px;
  }
}
